/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


/*Шрифты, технические классы и повторяющиеся блоки------------------------------------------------------------------------------------------------------------------------*/

body{
	font-family: Arial, sans-serif;
	background: #0F1910;
	color: #2C2A2B;
}

body._lock{
	overflow: hidden;
}

._container{
	max-width: 1570px;
	margin: 0 auto;
	padding: 0 15px;	
}

.wrapper{
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}


/*Шапка Цветочного магазина------------------------------------------------------------------------------------------------------------------------*/

.header {
	padding: 45px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.header__container {
	max-width: 1847px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {}
.header__buttons {
	display: flex;
	align-items: center;
}
.header__buttons > *:not(:last-child){
	margin-right: 140px;
}
.header__body {
	display: flex;
	align-items: center;
}
.header__menu {}
.menu {}
.menu__list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu__list  > *:not(:last-child){
	margin-right: 50px;
}
.menu__item {
	position: relative;
}

.menu__link:hover .menu__item:after{
	transform: scale(1);
}

.menu__item:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: white;
	transform: scale(0);
	transition: all 0.3s ease;
}

.menu__item:hover.menu__item:after{
	transform: scale(1);
	transition: all 0.3s ease;
}

.menu__item.lined{
	position: relative;
}
.menu__item.lined:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: white;

}
.menu__link {
	color: white;
	font-size: 20px;
	line-height: 125%;
	text-transform: uppercase;
	font-weight: thin;
	transition: all 0.3s ease;
}

.header__icon {
	position: relative;
	width: 30px;
	height: 20px;
	display: none;
}
.header__icon span:first-child{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}
.header__icon span:nth-child(2){
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}
.header__icon span:last-child{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}
.header__socials {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__socials > *:not(:last-child){
	margin-right: 35px;
}
.header__social {
	font-size: 20px;
}
.header__social ion-icon{
	color: white;
}

@media(max-width: 1089px){
	.header__buttons > *:not(:last-child){
		margin-right: 50px;
	}
	.header__socials > *:not(:last-child){
		margin-right: 25px;
	}
	.menu__list  > *:not(:last-child){
		margin-right: 20px;
	}
	.menu__link{
		font-size: 16px;
	}
	.header__socials{
		display: none;
	}
}

@media(max-width: 768px){
	.header__buttons > *:not(:last-child){
		margin-right: 0px;
	}
	.header__icon{
		display: block;
		z-index: 11;
		transition: all 0.3s ease;
	}
	.header__icon._active span:first-child{
		top: 50%;
		transform: rotate(-135deg);
		transition: all 0.3s ease;
	}
	.header__icon._active span:nth-child(2){
		opacity: 0;
		transition: all 0.3s ease;
	}
	.header__icon._active span:last-child{
		top: 50%;
		transform: rotate(135deg);
		transition: all 0.3s ease;
	}
	.header__menu{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #75193D;
		z-index: 10;
		overflow: auto;
		transform: translate(0%, -200%);
		transition: all 0.3s ease;
	}
	.header__menu._active{
		transform: translate(0%, 0%);
		transition: all 0.3s ease;
	}
	.menu__list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__item.lined:before{
		transform: scale(0)
	}
	.menu__list{
		margin-top: 100px;
	}
	.menu__list  > *:not(:last-child){
		margin-right: 0px;
		margin-bottom: 50px;
	}
	.menu__list a {
		font-size: 30px;
	}
}

/*Главный экран Цветочного магазина------------------------------------------------------------------------------------------------------------------------*/

.mainscreen {
	position: relative;
	padding: 179px 0 268px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

}
.mainscreen__label {
	font-size: calc(20px + 30 * (100vw / 1920));
	color: white;
	text-transform: capitalize;
	line-height: 112%;
	margin-bottom: 2px;

}

.mainscreen__title {
	font-size: calc(40px + 155 * (100vw / 1920));
	color: white;
	text-transform: uppercase;
	line-height: 122%;
}
.mainscreen__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}


/*Сервисы Цветочного магазина------------------------------------------------------------------------------------------------------------------------*/



.services {
	padding: 0px 0 132px 0;
}
.services__body {
	display: flex;
}
.services__discount {
	display: flex;
	flex: 1 0 60%;
	justify-content: right;
	position: relative;
	text-align: center;
	background: #FAE3E3;
}
.discount-services__image {
	position: absolute;
	bottom: 0;
	left: -70px;
}
.discount-services__image img{
	width: 500px;

}
.discount-services__body {
	max-width: 616px;
	padding: 45px 60px 45px 0;
	text-align: center;
	margin-left: 300px;
	
}
.discount-services__body > *:not(:last-child){
	margin-bottom: 20px;
}
.discount-services__title {
	font-size: 45px;
	font-weight: bold;
	color: #C6006B;
	line-height: 122%;
}
.discount-services__line {
	width: 264px;
	height: 1px;
	background: #C6006B;
	margin: 0 auto;
}
.discount-services__text {
	font-size: 26px;
	line-height: 123%;
}
.discount-services__price {
	color: #C6006B;
	font-size: 26px;
	font-weight: bold;
}
.discount-services__button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px 30px;
	min-height: 56px;
	font-size: 22px;
	line-height: 122%;
	background: #E32C89;
	border-radius: 50px;
	color: white;
}
.discount-services__button ion-icon{
	font-size: 30px;
	padding-right: 12px;
}


.services__services {
	flex: 1 0 40%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.services__services > *:not(:last-child){
    margin-bottom: 20px;
}
.services__title {
	font-size: 45px;
	font-weight: bold;
	color: white;
	line-height: 122%;
}
.services__text {
	font-size: 26px;
	line-height: 123%;
	color: white;
	max-width: 616px;
}
.services__label {
	font-size: 26px;
	line-height: 123%;
	color: #E32C89;
	max-width: 616px;
}
.services__icons {
	display: flex;
	justify-content: center;
}
.services__icons 
.services__icon {
	background: gray;
	padding: 10px;
	border-radius: 60px;
	transition: all 0.3s ease;

}
.services__icon:hover{
	background: #E32C89;
	transition: all 0.3s ease;
}
.services__icons > *:not(:last-child){
	margin-right: 20px;
}
.services__icon ion-icon{
	font-size: 32px;
	color: white;
}


@media(max-width: 1600px){
	.discount-services__body{
		margin-left: 0px;		
	}
	.discount-services__image{
		display: none;
	}
	.services__discount{
		justify-content: center;
	}
	.services__discount {
		flex: 1 1 50%;
	}
	.services__services {
		flex: 1 1 50%;
	}
}

@media(max-width: 1200px){
	.services__body{
		flex-direction: column;
	}
	.discount-services__body{
		padding: 45px 10px 45px 10px;
	}
	.services__services {
		padding: 40px 10px;
	}
}

@media(max-width: 425px){
	.services__title,
	.discount-services__title{
		font-size: 26px;
	}

	.discount-services__text,
	.services__text,
	.services__label{
		font-size: 23px;
	}
}



/*Магазин Цветочного магазина------------------------------------------------------------------------------------------------------------------------*/

.shop {
	padding: 80px 0 74px 0;
}
.shop__title {
	font-size: 70px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 123%;
	margin-bottom: 112px;
}
.shop__row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -75px;
}
.shop__col {
	flex: 0 0 33.333%;
	max-width: 564px;
	padding: 0 75px;
}
.shop__item {}
.item-shop {}
.item-shop__image {
	max-width: 564px;
	padding-bottom: 132%;
	border-radius: 53px;
}
.item-shop__content {
	padding: 30px 52px 76px 52px;
	text-align: center;
}
.item-shop__price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-shop__price:not(:last-child){
	margin-bottom: 20px;
}
.item-shop__discount {
	font-size: 26px;
	color: white;
}
.item-shop__last-price {
	font-size: 26px;
	text-decoration: line-through;
	color: #ABABAB;
}

.item-shop__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #E32C89;
	min-height: 46px;
	padding: 5px 30px;
	border-radius: 54px;
	color: white;
	font-size: 22px;
}

.item-shop__button ion-icon{
	padding-right: 12px;
}

@media(max-width: 1268px){
	.item-shop__price{
		font-size: 18px;
	}
	.item-shop__discount,
	.item-shop__last-price{
		font-size: 16px;
	}

	.item-shop__button{
		font-size: 16px;
	}
	.shop {
		padding: 0px 0 74px 0;
	}
	.shop__title{
		margin-bottom: 62px;
	}
}

@media(max-width: 1146px){
	.item-shop__content{
		padding: 30px 10px 76px 10px;
	}
	.shop__title{
		font-size: 40px;
	}
}

@media(max-width: 893px){
	.shop__col{
		flex: 1 0 50%;
	}
}

@media(max-width: 600px){
	.shop__col{
		flex: 1 0 100%;
	}
}




/*События Цветочного магазина------------------------------------------------------------------------------------------------------------------------*/


.events {
	

}
.events__container {
	max-width: 1236px;
	margin: 0 auto;
	padding: 0 15px;
}
.events__block{
	position: relative;
}
.events__body {	
	padding: 120px 0;
}

.events__tittle {
	font-size: calc(30px + 53 * (100vw / 1920));
	color: #FFFFFF;
	line-height: 113%;
}
.events__tittle:not(:last-child){
	margin-bottom: 32px; 
}
.events__text {
	text-align: center;
	font-size: calc(21px + 24 * ( 100vw / 1920)); 
	color: white;
	line-height: 122%;
}
.events__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.events__bg:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

/*Футер Цветочного магазина------------------------------------------------------------------------------------------------------------------------*/


.footer {
	padding: 120px 0 81px 0;
}
	
.footer__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -112px;
}

.footer__col {
	flex: 0 0 25%;
	padding: 0 112px;
	margin-bottom: 50px;
}
.footer__item {
 	text-align: center;
}
.footer__item > *:not(:last-child){
	margin-bottom: 15px;
}
.item-footer {}
.item-footer__title {
	text-transform: uppercase;
	color: white;
	font-size: 24px;
	font-weight: bold;
	line-height: 120%;
}

.item-footer__list {}
.item-footer__list > *:not(:last-child){
	margin-bottom: 10px;
}
.item-footer__list-item {}
.item-footer__link {
	color: white;
	font-size: 24px;
	line-height: 120%;
	transition: all 0.3s ease;
}
.item-footer__link:hover{
	opacity: 0.5;
	transition: all 0.3s ease;
}

.item-footer__address {
	color: white;
	font-size: 20px;
}
.item-footer__address ion-icon{
	font-size: 25px;
	margin-right: 10px;
}
.item-footer__tel {
	color: white;
	font-size: 20px;
}
.item-footer__tel ion-icon{
	font-size: 25px;
	margin-right: 10px;
}
.item-footer__socials {
	display: inline-flex;
}
.item-footer__social {
	color: white;
	font-size: 20px;
}

.item-footer__social:not(:last-child){
	margin-right: 42px;
}

@media(max-width: 1369px){
	.footer__row .footer__col:last-child{
		flex: 0 0 40%;
	}
}